.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  width: 300px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}


/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip a:visited,
.d3-tip a:link {
  color: #cccccc;
}
